.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 0;
  width: 100%;
}

.links {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
}
@media screen and (max-width: 790px) {
  .links {
    display: none;
  }
}
.links_item {
  margin-left: 60px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
}
@media screen and (max-width: 912px) {
  .links_item {
    margin-left: 40px;
  }
}
.links_item > a {
  text-decoration: none;
  color: #333;
  line-height: 24px;
}
.links_item > a:hover {
  color: #c0bde0;
}
.links_item:hover::before, .links_item:hover::after {
  transform: scale(1);
}
.links_item::after {
  top: 0;
}
.links_item::before {
  bottom: 0;
}
.links_item::before, .links_item::after {
  content: "";
  width: 100%;
  left: 0;
  position: absolute;
  height: 2px;
  background-color: #c0bde0;
  transition: 0.3s;
  transform: scaleX(0);
}

.galery {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
}
@media screen and (max-width: 1110px) {
  .galery {
    flex-direction: column;
    align-items: center;
  }
}

.galery-controll {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
}
.galery-controll_title-block {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1110px) {
  .galery-controll_title-block {
    flex-direction: row;
    margin: 40px 0;
  }
}
.galery-controll .galery-title-thin {
  color: #BDBDBD;
  font-weight: 300;
  font-family: HovesLite;
}
.galery-controll .galery-title-bold {
  font-family: HovesBold;
}
.galery-controll_switch {
  display: flex;
  align-items: center;
  margin-top: 90px;
}
@media screen and (max-width: 1110px) {
  .galery-controll_switch {
    display: none;
  }
}
.galery-controll_switch .line {
  height: 1px;
  background-color: #F2F2F2;
  width: 80%;
}
.galery-controll_switch .switch-forward {
  margin-left: 24px;
}

.switch-icon {
  width: 32px;
}

.switchBtn {
  width: 50px;
  height: 50px;
  border: none;
  color: #333;
}

.switch-buttons-overlay {
  position: absolute;
  width: 100%;
  display: none;
  top: calc(50% - 25px);
  justify-content: space-between;
}
@media screen and (max-width: 1110px) {
  .switch-buttons-overlay {
    display: flex;
  }
}

.switchBtn:hover {
  background-color: #c0bde0;
}

.slider {
  width: 100%;
  max-width: 770px;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #222;
}

.slider-items {
  width: 300%;
  display: flex;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.image-wrapper {
  width: 770px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.sliderImg {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.showProjectBtn {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 30px 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
}
@media screen and (max-width: 540px) {
  .showProjectBtn {
    padding: 15px 25px;
  }
}

.showProjectBtn > img {
  margin-left: 16px;
  width: 16px;
  color: #333;
  transform: translateX(0);
  transition: 0.3s all ease-in-out;
}
@media screen and (max-width: 540px) {
  .showProjectBtn > img {
    margin-left: 8px;
  }
}

.showProjectBtn:hover > img {
  transform: translateX(10px);
}

.showProjectBtn:hover {
  background-color: #c0bde0;
}

.countSlides {
  font-size: 24px;
  color: #BDBDBD;
  margin-top: 90px;
}
.countSlides .countSlides {
  font-size: 24px;
  color: #BDBDBD;
  margin-top: 90px;
}
@media screen and (max-width: 1110px) {
  .countSlides .countSlides .countSlides {
    display: none;
  }
}
.countSlides .countSlides .current {
  margin-right: 24px;
}
.countSlides .countSlides .total {
  margin-left: 24px;
}
@media screen and (max-width: 1110px) {
  .countSlides {
    display: none;
  }
}
.countSlides .current {
  margin-right: 24px;
}
.countSlides .total {
  margin-left: 24px;
}

.overlay-counter.countSlides {
  margin: 0;
  background-color: #fff;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1110px) {
  .overlay-counter.countSlides {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .overlay-counter.countSlides {
    font-size: 16px;
  }
}

.about {
  position: relative;
  margin-top: 117px;
  padding: 30px 73px 30px 6px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .about {
    padding-right: 16px;
    margin-top: 90px;
  }
}
@media screen and (max-width: 1317px) {
  .about {
    padding: 16px 16px 16px 6px;
    margin-top: 70px;
  }
}
.about_photo-col {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
@media screen and (max-width: 1317px) {
  .about_photo-col {
    margin-right: 16px;
  }
}
@media screen and (max-width: 1136px) {
  .about_photo-col.col1 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .about_photo-col.col2 {
    display: none;
  }
}
.about .photo3 {
  margin-top: 30px;
}
@media screen and (max-width: 1317px) {
  .about .photo3 {
    margin-top: 16px;
  }
}
.about .about-photo {
  width: 270px;
}
@media screen and (max-width: 1317px) {
  .about .about-photo {
    width: 200px;
  }
}
.about .about-photo > img {
  object-fit: contain;
  max-width: 100%;
}
.about .about-photo.photo2 {
  position: absolute;
  z-index: 2;
  bottom: -30px;
}
@media screen and (max-width: 1317px) {
  .about .about-photo.photo2 {
    bottom: -20px;
  }
}
@media screen and (max-width: 1136px) {
  .about .about-photo.photo2 {
    bottom: -30px;
  }
}
.about p.about-descriptrion_text {
  margin-top: 20px;
}
.about .about-button {
  padding: 24px 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  margin-top: 20px;
}
@media screen and (max-width: 540px) {
  .about .about-button {
    padding: 12px 32px;
  }
}
.about .about-button:hover {
  background-color: #c0bde0;
}

.tasks {
  margin-top: 180px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .tasks {
    margin-top: 150px;
  }
}
@media screen and (max-width: 1317px) {
  .tasks {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1136px) {
  .tasks {
    margin-top: 60px;
  }
}

.tasks-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
  max-width: 1400px;
}
@media screen and (max-width: 1317px) {
  .tasks-row {
    margin-top: 20px;
  }
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-item_number {
  font-family: SfProDisplayBlack;
  font-size: 200px;
  color: #F2F2F2;
  line-height: 140px;
}
@media screen and (max-width: 1317px) {
  .task-item_number {
    font-size: 156px;
    line-height: 156px;
  }
}
@media screen and (max-width: 700px) {
  .task-item_number {
    font-size: 120px;
  }
}
@media screen and (max-width: 390px) {
  .task-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.task-item_description {
  margin-left: 30px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0;
  word-wrap: break-word;
}
@media screen and (max-width: 1317px) {
  .task-item_description {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 700px) {
  .task-item_description {
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
  }
}

.task-item:nth-child(1) {
  margin-right: 170px;
  width: 413px;
}
@media screen and (max-width: 1317px) {
  .task-item:nth-child(1) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  .task-item:nth-child(1) {
    margin-right: 0;
  }
}

.task-item:nth-child(2) {
  max-width: 580px;
  margin-left: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 120px;
}
@media screen and (max-width: 1136px) {
  .projects {
    margin-top: 90px;
  }
}
@media screen and (max-width: 700px) {
  .projects {
    margin-top: 60px;
  }
}

.projects-wrapper {
  margin-top: 60px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media screen and (max-width: 1136px) {
  .projects-wrapper {
    margin-top: 40px;
  }
}
@media screen and (max-width: 700px) {
  .projects-wrapper {
    margin-top: 20px;
  }
}

.projects-row {
  min-width: 760px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-item {
  height: 100%;
  margin: 16px;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .project-item {
    margin: 16px;
  }
}
@media screen and (max-width: 1136px) {
  .project-item {
    margin: 4px 8px;
  }
}

.project-item:first-child {
  margin-left: 0;
}

.project-item:last-child {
  margin-right: 0;
}

.project-item > img {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}

.all-projects-btn {
  align-self: flex-end;
  margin-top: 30px;
  text-transform: uppercase;
}

.project-item:hover > .hover-description {
  display: flex;
}

.hover-description {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 4px;
  right: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.hover-description_content {
  max-width: 80%;
}
.hover-description_content .show-project {
  display: flex;
}
.hover-description_content .show-project span {
  color: #fff;
  background: none;
  border: none;
  text-transform: uppercase;
}
.hover-description_content .show-project svg {
  margin-left: 8px;
  width: 16px;
  color: #fff;
}
.hover-description_content p {
  max-height: 100%;
  font-size: 44px;
  line-height: 54px;
  font-weight: bold;
  margin-bottom: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .hover-description_content p {
    font-size: 32px;
    line-height: 32px;
  }
}
@media screen and (max-width: 390px) {
  .hover-description_content p {
    font-size: 32px;
    line-height: 32px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F2F2F2;
  width: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0bde0;
}

.contact-us {
  width: 100%;
  margin-bottom: 120px;
}
.contact-us_img > img {
  object-fit: cover;
  max-width: 100%;
  height: 370px;
}
@media screen and (max-width: 390px) {
  .contact-us_img > img {
    margin-bottom: 22px;
  }
}

.contact-content {
  margin-top: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 390px) {
  .contact-content {
    flex-direction: column-reverse;
  }
}

form {
  display: flex;
  flex-direction: column;
}
form input, form textarea {
  padding: 15px 21px;
  margin-bottom: 10px;
  background-color: #F2F2F2;
  border: none;
  color: "#8d8d8d";
  min-width: 288px;
}
form textarea {
  resize: none;
}
form input:focus, form textarea:focus {
  outline: none;
}
form .note {
  max-width: 331px;
}
form .note {
  display: flex;
  font-size: 14px;
  width: 80%;
  margin: 11px 16px 21px auto;
}
form button {
  width: 222px;
  letter-spacing: 2px;
}

@font-face {
  font-family: Hoves;
  src: url("./fonts/Hoves.ttf");
}
@font-face {
  font-family: HovesLite;
  src: url("./fonts/HovesLite.ttf");
}
@font-face {
  font-family: HovesBold;
  src: url("./fonts/HovesBold.ttf");
}
@font-face {
  font-family: SfProDisplayBlack;
  src: url("./fonts/sfProDisplayBlack.otf");
}
*, body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Hoves;
  color: #333;
  display: flex;
  justify-content: center;
}

.main {
  width: 1440px;
  max-width: 100%;
  height: 100%;
  padding: 0 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1317px) {
  .main {
    padding: 0 90px;
  }
}
@media screen and (max-width: 1136px) {
  .main {
    padding: 0 60px;
  }
}
@media screen and (max-width: 700px) {
  .main {
    padding: 0 24px;
  }
}
@media screen and (max-width: 390px) {
  .main {
    padding: 0 24px;
  }
}

.largeTitle {
  font-size: 64px;
  text-transform: uppercase;
  line-height: 64px;
}
@media screen and (max-width: 700px) {
  .largeTitle {
    font-size: 48px;
    line-height: 48px;
  }
}
@media screen and (max-width: 390px) {
  .largeTitle {
    font-size: 32px;
    line-height: 32px;
  }
}

.section-title {
  font-size: 64px;
  font-weight: 300;
  font-family: HovesLite;
  color: #BDBDBD;
  word-wrap: normal;
}
@media screen and (max-width: 1317px) {
  .section-title {
    font-size: 48px;
  }
}
@media screen and (max-width: 390px) {
  .section-title {
    font-size: 32px;
  }
}

.dark-button {
  background-color: #2C2C2C;
  border: none;
  padding: 24px 39px;
  color: #F2F2F2;
  text-transform: uppercase;
}
@media screen and (max-width: 390px) {
  .dark-button {
    padding: 16px 28px;
  }
}

.dark-button:hover {
  background-color: #c0bde0;
}

/*# sourceMappingURL=styles.css.map */
