@import 'variables.scss';

.tasks {
  margin-top: 180px;
  width: 100%;
  @include aboutLarge {
    margin-top: 150px;
  }
  @include aboutBig {
    margin-top: 70px;
  }
  @include aboutMiddle {
    margin-top: 60px;
  }
}
.tasks-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
  max-width: 1400px;
  @include aboutBig {
    margin-top: 20px;
  }
}
.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  &_number {
    font-family: SfProDisplayBlack;
    font-size: 200px;
    color: $grey-light;
    line-height: 140px;
    @include aboutBig {
      font-size: 156px;
      line-height: 156px;
    }
    @include aboutSmall {
      font-size: 120px;
    }
  }
  @include aboutXS {
    flex-direction: column;
    align-items: flex-start;
  }
  &_description {
    margin-left: 30px;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0;
    // min-width: 288px;
    word-wrap: break-word;
    @include aboutBig {
      font-size: 18px;
      line-height: 28px;
    }
    @include aboutSmall {
      font-size: 16px;
      line-height: 24px;
      margin-left: 16px;
    }
  }
}
.task-item:nth-child(1) {
  margin-right: 170px;
  width: 413px;
  @include aboutBig {
    margin-right: 50px;
  }
  @include aboutSmall {
    margin-right: 0;
  }
}
.task-item:nth-child(2) {
  max-width: 580px;
  margin-left: auto;

}
